@{
    ViewData["Title"] = "Configurar Juego";
}

        
    <div class="form-body ">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Configurar juego</h3>
                        
                         <form class="requires-validation" action='@Url.Action("Comenzar", "Home")' method="get">

                            <div class="col-md-12 pt-2">
                               <input  class="form-control" type="text" placeholder="Nombre de usuario" autocomplete="off" name="username" required>
                              
                               <div class="invalid-feedback">Username field cannot be blank!</div>
                            </div>
                         
                            <div class="pt-">
                         

                                     <div class="col-md-12">
                                <select class="form-select mt-3" required name="dificultad">
                                     <option selected disabled >Dificultad</option>
                              @foreach(Dificultades dif in @ViewBag.Dificultades){
                                  
                                     
                                      <option value=@dif.IdDificultad >@dif.Nombre</option>
                                      
                               

                              } 
                                    <option value = "-1">Todas</option>

                              </select>
                                <div class="valid-feedback">You selected a position!</div>
                                <div class="invalid-feedback">Please select a position!</div>
                           </div>
                          </div>


                              <div class="col-md-12">
                                <select class="form-select mt-3" required name="categoria">
                                     <option selected disabled >Categoria</option>
                              @foreach(Categorias cat in @ViewBag.Categorias){
                                  
                                     
                                      <option value=@cat.IdCategoria >@cat.Nombre</option>
                                      
                               

                              }
                                 <option value = "-1">Todas</option>
                              </select>
                                


                            <div class="form-button mt-3 pt-2">

                                <button id="submit" type="submit" class="btn btn-success">Jugar</button>
                        
                            </div>
                        
                         </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
