@{
    ViewData["Title"] = "Configurar Juego";
}


         <form action='@Url.Action("Comenzar", "Home")' method="get">
       
        <div class="row mb-3">
            <div class="col-sm-12">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="nombre..." autocomplete="off"name="username" > </div>
                </div>
            </div>

        <div class="flex-container mt-5">
            <div class="flex-item">
                <p class="">Dificultad</p>
                @foreach(Dificultades dif in @ViewBag.Dificultades){
                    
                    <div class="form-check text-black">
                        <label class="form-check-label" for="inlineRadio1"> @dif.Nombre </label>
                        <input class="form-check-input" type="radio" name="dificultad" required id="inlineRadio1" value="@dif.IdDificultad">
                    </div>
                }
                <div class="form-check text-black">
                    <label class="form-check-label" for="inlineRadio1"> Todas </label>
                    <input class="form-check-input" type="radio" name="dificultad" id="inlineRadio1" value="-1">
                </div>
            </div>
            
            <div class="flex-item">
                <p class="pt-3">Categoria</p>
                @foreach(Categorias cat in @ViewBag.Categorias){
                    <div class="form-check text-black">
                        <label class="form-check-label" for="inlineRadio1"> @cat.Nombre </label>
                        <input class="form-check-input" type="radio" name="categoria" required id="inlineRadio1" value="@cat.IdCategoria">
                    </div>
                }
                <div class="form-check text-black">
                    <label class="form-check-label" for="inlineRadio1"> Todas </label>
                    <input class="form-check-input" type="radio" name="categoria" id="inlineRadio1" value="-1">
                </div>
            </div>
            
        </div>

        <input type="submit" value="Jugar" class="btn btn-success mt-5" style="">

    </form>