
<h1 class="text-center pt-4 pb-4">TABLA DE PUNTAJES</h1>



<section class="intro">
  <div class="bg-image h-100">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="card">
              <div class="card-body p-0">
                <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 700px">
                  <table class="table table-striped mb-0">
                    <thead style="background-color: #002d72;">
                      <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Puntaje</th>
                        <th scope="col">Fecha y Hora</th>
                        <th scope="col">Tiempo</th>
                        
                      </tr>
                    </thead>
                    <tbody>

                       @foreach (Puntajes punt in @ViewBag.Puntajes)
                        {
                          <tr>
                             <td>@punt.Username</td>
                              <td>@punt.Puntaje</td>
                               <td>@punt.Fecha</td>
                                <td>@punt.Segundos</td>
                           
   
                          </tr>
}




                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>