
<h1 class="text-center pt-4 pb-4">TABLA DE PUNTAJES</h1>

<div clas="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Username</th>
            <th>Puntaje</th>
            <th>Fecha y Hora</th>
            <th>Tiempo</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            
   
@foreach (Puntajes punt in @ViewBag.Puntajes)
{
    
     <tr>
     
      <td> @punt.Username </td>
      <td> @punt.Puntaje </td>
      <td> @punt.Fecha </td>
      <td> @punt.Segundos Segundos</td>
    </tr>
   
}

        </tbody>
    </table>
</div>

<div class="text-center pt-5 mb-3">
 <a class="btn-lg btn-success" href='@Url.Action("ConfigurarJuego","Home")'> Volver a jugar </a>
    
 
 </div>


<div class="wrapper">
  
  
  <div class="table">
    
    <div class="row header blue">
      <div class="cell">
        Username
      </div>
      <div class="cell">
        Puntaje
      </div>
      <div class="cell">
        Fecha y Hora
      </div>
      <div class="cell">
        Tiempo
      </div>
    </div>
    @foreach (Puntajes punt in @ViewBag.Puntajes)
{
     <div class="row">
     <tr>
     
       <div class="cell">@punt.Username
        </div>
      <div class="cell">@punt.Puntaje
        </div>
       <div class="cell"> @punt.Fecha
        </div>
      <div class="cell"> @punt.Segundos Segundos
    </div>
   </div>
}
    
    
  </div>
  
</div>