    
    <div class="container border">
    <h1>Jugador: @ViewBag.Username</h1>
    <h3>Puntaje actual: @ViewBag.Puntaje puntos</h3>
    <br>
    <h1>Pregunta: @ViewBag.ContenidoPregunta.Enunciado</h1>

         







  @foreach (Respuestas resp in @ViewBag.ContenidoRespuesta)
            { 
                
                <a class="answers" href='@Url.Action("VerificarRespuesta", "Home", new {idRespuesta = @resp.IdRespuesta, idPregunta = @ViewBag.ContenidoPregunta.IdPregunta})'> @resp.Contenido </a>
                <br>
            }