    

    <div class="contenidoPreg">
    <div class="container">
    
    <h1 class="text-center">@ViewBag.ContenidoPregunta.Enunciado</h1>
    @if (@ViewBag.ContenidoPregunta.Foto != null)
    {
        
    <div class="text-center pt-3 pb-3">
    <img class="pt-3 redondeado zoom redondeado" src=@ViewBag.ContenidoPregunta.Foto height="350px" width="auto">
         </div> 
    
    }


  
   <div class="col">

<div class="quiz pt-4 text-center" id="quiz" data-toggle="buttons">
      @foreach (Respuestas resp in @ViewBag.ContenidoRespuesta)
            { 
                <div class="row pt-2">
           <a href='@Url.Action("VerificarRespuesta", "Home", new {idRespuesta = @resp.IdRespuesta, idPregunta = @ViewBag.ContenidoPregunta.IdPregunta})'><label class="element-animation1 btn btn-lg btn-info btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> @resp.Contenido</label></a>
           
            </div>

           }
           
       
     </div>
</div>


